<div class="d-flex flex-column vh-100 text-white bg-dark" style="width: 280px">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="/" class="nav-link text-white"> Home </a>
    </li>
    <li>
      <a href="/categories/1" class="nav-link text-white"> Hot Items </a>
    </li>
    <li>
      <a href="/categories/2" class="nav-link text-white"> Snacks </a>
    </li>
    <li>
      <a href="/categories/3" class="nav-link text-white"> Beverages </a>
    </li>
    <li>
      <a href="/categories/4" class="nav-link text-white"> Ready To Eat</a>
    </li>
    <li>
      <a href="/categories/5" class="nav-link text-white"> Dairies</a>
    </li>
    <li>
      <a href="/categories/6" class="nav-link text-white"> Household</a>
    </li>
  </ul>
</div>
