<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Categories</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="/"> Home </a>
      </li>
      <li>
        <a href="/categories/1" class="nav-link text-white"> Hot Items </a>
      </li>
      <li>
        <a href="/categories/2" class="nav-link text-white"> Snacks </a>
      </li>
      <li>
        <a href="/categories/3" class="nav-link text-white"> Beverages </a>
      </li>
      <li>
        <a href="/categories/4" class="nav-link text-white"> Ready To Eat</a>
      </li>
      <li>
        <a href="/categories/5" class="nav-link text-white"> Dairies</a>
      </li>
      <li>
        <a href="/categories/6" class="nav-link text-white"> Household</a>
      </li>
    </ul>
  </nav>
</div>
